<input #fileInput type="file" [accept]="accept()" (change)="onFileChange($event)" style="display: none" />

<div
  class="file-picker-container"
  [class.dragging]="isDragging()"
  (click)="onPickerClick()"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <ion-icon name="cloud-upload-outline" class="upload-icon" [class.active]="isDragging()"></ion-icon>

  @if (selectedFileName()) {
    <div class="selected-file">
      <ion-icon name="document-outline"></ion-icon>
      <span>{{ selectedFileName() }}</span>
    </div>
  } @else {
    <div class="picker-text">
      <h3>{{ 'FILE_PICKER.DROP_TEXT' | translate }}</h3>
      <p class="ion-text-center">
        @if (accept() !== '*/*') {
          <span>{{ 'FILE_PICKER.ACCEPTED_LABEL' | translate }}: {{ accept() }}</span
          ><br />
        }
        <span>{{ 'FILE_PICKER.MAX_SIZE_VARIES_LABEL' | translate }}: {{ formatMaxSize() }}</span>
        <br />
        <span class="limits-hint">{{ 'FILE_PICKER.SIZE_LIMITS_HINT' | translate }}</span>
      </p>
    </div>
  }
</div>
